<div id="<%= dom_id branch %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= branch.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Company:</strong>
    <%= branch.company_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= branch.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this branch", branch, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this branch', edit_branch_path(branch), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
