<div id="<%= dom_id branch %>">
  <p class="my-5">
  <strong class="block font-medium mb-1"><%= t(:company) %>:</strong>
  <%= branch.company_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t(:name)  %>:</strong>
    <%= branch.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to t(:people), branch_people_path(branch), method: :get, class: "bg-teal-500 px-3 py-2 rounded inline-flex items-center justify-center text-white-600" %>
    <%= link_to t(:show), branch, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to t(:edit), edit_branch_path(branch), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>