<h2 class="font-bold text-4xl">Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label t(:email) %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit t(:resend_confirmation_instructions), class: "ml-2 rounded-lg py-3 px-5 bg-green-500 inline-block font-medium" %>
  </div>

  <div>
    <%= render "devise/shared/links" %>
  </div>
<% end %>


