<div class="mx-auto max-w-3xl mt-24">
  <h1 class="font-bold text-4xl mb-6">Tracks for: 
    <%= assigned_name(params[:person_id]) %>. Branch: 
    <%= assigned_branch_name(params[:person_id]) %> 
  </h1>

  <%= render "form", track: Track.new %>

  <%= turbo_stream_from "tracks" %>

  <ul id="tracks" class="divide-y list-none">
    <%= render @tracks %>
  </ul>
</div>