<div class="mx-auto max-w-3xl mt-24">
  <h1 class="font-bold text-4xl mb-6">
    <%= t(:tracks) %> <%= t(:for) %>
    <%= link_to default_assigned_name, branch_people_path(default_branch_id), method: :get, class: "flex-1 #{"line-throuht opacity-50" }" %>
    <%= t(:branch) %>
    <%= link_to default_branch_name,  branches_path, method: :get, class: "flex-1 #{"line-throuht opacity-50" }" %>
  </h1>

  <%= render "form", track: Track.new %>

  <div>
    <%= form_with url: tracks_path, method: :get, data: { turbo_frame: "tracks", controller: "search_form", action: "input->search_form#submit" } do %>
        <%= text_field_tag "filter", nil, placeholder: t(:filter), class: "justify-items-end inline-block rounded-md border  border-gray-200 outline-none px-3 py-2 w-1/2", autocomplete: "off" %>
    <% end %>
  </div>

  <div class="flex mt-12 items-center justify-center space-x-4 w-full">
    <%== pagy_nav(@pagy) %>
  </div>

  <%= turbo_frame_tag "tracks" do  %>
    <ul id="tracks" class="divide-y list-none">
      <%= render @tracks %>
    </ul>
  <% end %>

  <div class="flex mt-12 items-center justify-center space-x-4 w-full">
    <%== pagy_nav(@pagy) %>
  </div>
</div>
