<h2 class="font-bold text-4xl"> t(:edit) <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label t(:email) %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: t(:email) %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>  <%= t(currently_waiting_confirmation:) %> <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label t(:password) %> <i> t(:leave_blank_if_donot_want_change_it) </i><br />
    <%= f.password_field :password, autocomplete: t(:new_password) %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> <%= t(:characters_minimum) %> </em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: t(:new_password) %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: t(:current_password) %>
  </div>

  <div class="actions">
    <%= f.submit :update, t(:update), class: "ml-2 rounded-lg py-3 px-5 bg-green-500 inline-block font-medium"%>
  </div>
<% end %>

<h3> <%= t(:cancel_my_account) %> </h3>

<p><%= t(:unhappy) %> <%= button_to t(:cancel_my_account), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "ml-2 rounded-lg py-3 px-5 bg-red-500 inline-block font-medium" %></p>

<%= link_to t(:back), :back, class: "ml-2 rounded-lg py-3 px-5 bg-gray-500 inline-block font-medium" %>
