<%= form_with url: branches_path, method: :get do |form| %>
<div style="overflow-x:auto;">
  <table>
    <tr>
      <%= form.submit "continue", class: "bg-teal-500 px-3 py-2 rounded inline-flex items-center justify-center text-white-600" %>
    </tr>
    <tr>
      <h1 class="font-bold text-4xl"><%= t(:home_title) %></h1>
      <br>
      <h2> <%= t(:home_p1l1) %> </h2>
      <br>
      <h2> <%= t(:home_p1l2) %> </h2>
      <br>
      <h2> <%= t(:home_p1l3) %> <h2>
      <br>
      <h3> <%= t(:home_p1l4) %> </h3>
      <h3> <%= t(:home_p1l5) %> </h3>
      <br>
      <h3> <%= t(:home_p1l6) %> <h3>
      <h3> <%= t(:home_p1l7) %> <h3>
      <h3> <%= t(:home_p1l8) %> <h3>
      <br>
      <% content_tag(:div, "", data: {
      controller: "track"
      })%>
    </div>
    </tr>
    <tr>
      <div style="display: flex; justify-content: left; text-slate-300">
      <h3 class="font-bold "> <%= t(:your_social_network_message) %> </h3>
        <%= link_to "Tweet to @ieconsultores", "https://twitter.com/intent/tweet?screen_name=ieconsultores&text="+t(:your_social_network_message), class: "twitter-mention-button", data: { related: "nanduchocom" } %>        
      </div>
      <br>
    </tr>          
    <tr>
        <h3 class="font-bold ">  <%= t(:home_payments) %> </h3>
    </tr>      
    <tr>
      <td style="text-align: center;">
        <div style="display: flex; justify-content: center;">
          PayPal
        </div>      
        <div style="display: flex; justify-content: center; size-44;">
          <%= link_to image_tag("paypalbutton.png", width: 150, height: 150), 'https://www.paypal.com/ncp/payment/492MBR2B8HDK6', target: '_blank', class:"justify-center" %>
          <%= javascript_tag do %>
            !function(d,s,id){
              var js, fjs = d.getElementsByTagName(s)[0],
              p = /^http:/.test(d.location) ? 'http' : 'https';
              if (!d.getElementById(id)) {
                js = d.createElement(s); js.id = id;
                js.src = p + '://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js,fjs);
              }
            }(document, 'script', 'twitter-wjs');
          <% end %>
        </div>
      </td>
      <td style="text-align: center; vertical-align: middle;" > 
      <div style="display: flex; justify-content: center;">
        QR Bancolombia
      </div>
        <div style="display: flex; justify-content: center ; size-44 ;">
          <img id="CodeQR TrackMyPapers" src="<%= asset_path('QRDigital_TMyP.png') %>"  draggable="true" ondragstart="drag(event)" width="150" height="150">
        </div>
      </td>
    </tr>
  </table>
</div>
<% end %>
