<div class="mx-auto md:w-2/3 w-full">
  <h2 class="font-bold text-4xl"><%= t(:log_in) %></h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, t(:email) %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: t(:email) %>
    </div>

    <div class="field">
      <%= f.label :password, t(:password) %><br />
      <%= f.password_field :password, autocomplete: t(:current_password) %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label t(:remember_me) %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit t(:log_in), class: "ml-2 rounded-lg py-3 px-5 bg-green-500 inline-block font-medium" %>
    </div>

    <div>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
