<p> <%= t(:hello) %> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p> <%= t:(weare_contacting) %> <%= t:(is_being_changed) %> <%= t:(to) %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p> <%= t:(weare_contacting) %> <%= t:(has_been_changed) %> <%= t:(to) %> <%= @resource.email %>.</p>
<% end %>