<p> <%= t(:hello) %> <%= @resource.email %>!</p>

<p> <%= t(:someone_has_requested_a_link) %> </p>

<p><%= link_to "Change my password", edit_password_url(@resource, reset_password_token: @token) %></p>

<p> <%= t(:if_you_didnont_request) %> </p>
<p> <%= t(:you_pass_wont_change_until) %> </p>