<p> <%= t(:hello) %> <%= @resource.email %>!</p>

<p> <%= t(:someone_has_requested_a_link) %> </p>

<p><%= link_to "Change my password", edit_password_url(@resource, reset_password_token: @token), class: "ml-2 rounded-lg py-3 px-5 bg-green-500 inline-block font-medium" %></p>

<p> <%= t(:if_you_didnont_request) %> </p>
<p> <%= t(:you_pass_wont_change_until) %> </p>