<p><%= t(:hello) %> <%= @resource.email %>!</p>

<p> <%= t(:you_account_has_locked) %> </p>

<p> <%= t(:click_unlock) %> </p>

<p><%= link_to t(:unlock_my_account), unlock_url(@resource, unlock_token: @token), class: "ml-2 rounded-lg py-3 px-5 bg-green-500 inline-block font-medium" %></p>