<!DOCTYPE html>
<html>
  <head>
    <title><%= t(:tguide) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('LogoTrackMyPaper_RVGT.png') %>
  </head>

  <body "bg-gradient-to-r from-pink-50 to-sky-50 container px-12 xl:px-0 py-24 mx-auto max-w-5xl antialiased">
    <header class="navbar navbar-fixed-top navbar-inverse">
      <%= render 'layouts/header' %>
      <div id="container">
    </header>
    <main class="container mx-auto mt-28 px-5 flex">

      <%= yield %>
    </main>
  </body>
</html>
